<!DOCTYPE html>
<html><head><meta charset="utf-8"/><title>Edit Employee</title>
<link rel="stylesheet" href="/public/style.css"/></head>
<body>
  <h2>Edit Employee <%= emp.empid %></h2>
  <% if (error) { %><p class="err"><%= error %></p><% } %>
  <form method="post" action="/employees/<%= emp._id %>/edit">
    <p><label>Name <input name="name" value="<%= emp.name %>" required/></label></p>
    <p><label>Email <input type="email" name="email" value="<%= emp.email %>" required/></label></p>
    <p><label>Designation <input name="designation" value="<%= emp.designation %>"/></label></p>
    <p><label>Base Salary <input type="number" step="0.01" name="baseSalary" value="<%= emp.baseSalary %>" required/></label></p>
    <p><label>Hra[%] <input type="number" step="0.01" name="hra" value="<%= emp.hra %>" /></label></p>
    <p><label>Bonus[%] <input type="number" step="0.01" name="bonus" value="<%= emp.bonus %>" /></label></p>

    <button type="submit">Save</button>
    <a class="btn" href="/employees">Back</a>
  </form>
</body></html>
